.item-container{
    display: flex;
    flex-direction: column;
    min-width: 100px;
        min-height: 88px;
        color: var(--primary-color);
    .profile-pic{
        margin-left: 20px;
        border-radius: 50%;
        overflow: hidden;
      }
      img{
        width: 100%;
        height: 100%;
      }
}