.verified-badge {
  display: inline-block;
  width: 19px;
  height: 20px;
  background-position-x: 430px;
  background-position-y: 34px;
  background-image: url("../../assets/images/imagePack.png");
  margin-left: 10px;
}

.profile-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;

  .stats-container {
    display: grid;
    grid-template-areas:
      "photo fullName settings" "photo stats stats"
      "photo username username";
    grid-gap: 10px;
    width: 400px;
    border-bottom: solid 1px var(--borderColor);

    text-align: left;
    padding-right: 400px;
    padding-left: 50px;
    color: var(--secondary-color);
    @media screen and (max-width: 800px) {
      width: 180px;
      font-size: 12px;
    }
    @media screen and (max-width: 500px) {
      width: 350px;
      font-size: 10px;
      padding: 10px 0px;
    }
    .profile-pic {
      grid-area: photo;
      overflow: hidden;
      width: 150px;
      padding: 20px;
      padding-bottom: 30px;
      padding-right: 70px;
      @media screen and (max-width: 500px) {
      padding: 0;
      width: 83px;
      }
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: solid 1px grey;
        @media screen and (max-width: 500px) {
          width: 80px;
          height: 80px;
        }
      }
    }
    .name {
      grid-area: fullName;
      margin-top: auto;
      font-size: 30px;
      overflow: hidden;
      font-weight: 200;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @media screen and (max-width: 800px) {
        font-size: 20px;
      }
    }
    .settings {
      margin-top: auto;
      font-size: 25px;
      grid-area: settings;
      div {
        width: 25px;
        height: 25px;
        // background-image: url("../../assets/images/imagePack.png");
        background-repeat: no-repeat;
        background-position: 0 -130px;
      }
    }
    .stats {
      grid-area: stats;
      display: flex;
      align-items: center;
      width: 310px;
      .stat {
        margin-right: 10px;
        span {
          font-weight: 500;
          color: var(--primary-color);
        }
      }
    }
    .username {
      grid-area: username;
      margin-bottom: auto;
      font-weight: 500;
    }
  }
  .postIcon {
    color: var(--secondary-color);
    border-top: solid 1px black;
    align-self: flex-start;
    margin-left: 25%;
    padding: 15px 5px;
    font-size: 12px;
    @media screen and (max-width: 800px) {
      margin-left: 50%;
    }
  }
  .profilePage-posts-container {
    width: 500px;
    height: 100vh;
    align-self: flex-start;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 10px;
    margin-left: 20%;
    @media screen and (max-width: 800px) {
      margin-left: 10%;
    }
    .no-posts {
      width: 400px;
      height: auto;
      @media screen and (max-width: 500px) {
        width: 200px;
        
      }
    }
    .previewPost {
      width: 150px;
      height: 200px;
      position: relative;
      .del-post-btn {
        display: none;
      }
      &:hover {
        img {
          filter: grayscale(0.8) opacity(0.8);
        }
        .del-post-btn {
          display: block;
          position: absolute;
          margin-top: auto;
          margin-bottom: auto;
          left: 50%;
          color: red;
          transform: translateX(-50%);
          top: 40%;
          font-size: 30px;
        }
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
