.forgot-password-page-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  .forgot-logo-image {
    background-image: url("../../assets/images/imagePack.png");

    margin: 22px auto 12px;
    background-repeat: no-repeat;
    background-position: -128px 1px;
    height: 100px;
    width: 100px;
  }
  .forgot-password-title{
      color: black;
      font-size: 14px;
      font-weight: 500;
  }
  .forgot-passsword-p{
      font-size: 12px;
      color: grey;
      margin: 10px 0px;
  }
  .forgot-password-login{
      margin-top: 100px;
      border-top: solid 1px #dbdbdb;
      width: 100%;
      font-size: 13px;
      padding: 10px 0px;
      font-weight: 500;
  }
}
