
.post-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0px;
    border-radius: 3px;
    .post-wrapper{
        background-color: var(--secondary-background);
        color: var(--primary-color);

    }
}